@font-face {
  font-family: shabnab;
  src: url("../public/font/Shabnam.ttf");
  font-family: yekan;
  src: url("../public/font/Yekan.ttf");
}

body {
  font-size: 62.5%;
  font-family: "yekan" !important;
}
