@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .glass {
    background: rgba(200, 200, 200, 0.9);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .menu:hover > .menu-hover {
    display: flex !important;
  }
}
